<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add
			name="BICaseMgmtContext"
			connectionString="Data Source=qadbfunc1;Initial Catalog=BICaseMgmt;User ID=biweb;Password=biweb;MultipleActiveResultSets=True;App=TemplateApi"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" xdt:Transform="SetAttributes(debug)" />
	</system.web>
</configuration>