<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<rabbitMQSettings
		xmlns="urn:RabbitMQ.ConfigSettings"
		rabbitMQHost="qadbfunc1"
		username="flopsy"
		password="aaron"
		xdt:Transform="SetAttributes" />
	<connectionStrings>
		<add
			name="BICaseMgmtContext"
			connectionString="Data Source=qadbfunc1;Initial Catalog=BICaseMgmt;User ID=biprocessor;Password=biprocessor;MultipleActiveResultSets=True;App=TemplateConsumer"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
</configuration>