<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingSettings" type="BI.Aspect.Logging.LoggingConfigSettings, BI.Aspect.Logging" />
		<section name="rabbitMQSettings" type="BI.Aspect.RabbitMq.RabbitMqConfigSettings, BI.Aspect.RabbitMq" />
	</configSections>
	<loggingSettings xmlns="urn:Logging.ConfigSettings" fileEventLevel="Verbose" />
	<rabbitMQSettings
		xmlns="urn:RabbitMQ.ConfigSettings"
		rabbitMQHost="localhost"
		username="guest"
		password="guest"
		exchangeName="TemplateExchange"
		queueName="TemplateQueue"
		noAck="false"
		maxChannels="100" />
	<connectionStrings>
		<add name="BICaseMgmtContext" connectionString="Data Source=devdb01;Initial Catalog=BICaseMgmt;User ID=biprocessor;Password=biprocessor;MultipleActiveResultSets=True;App=TemplateConsumer" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>